body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #da8181;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    color: #222;
}